<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>